body {
	color: white;
}

.bg-register {
	background-image: url('/img/Fondo-register.webp');
	position: absolute;
	background-size: cover;
	object-position: center;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
}
.form {
	margin-top: 20rem;
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}
.form-register {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 2rem;
}
.button-container {
	display: flex;
	gap: 2rem;
	justify-content: space-around;
	align-items: center;
}
